<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Magepow\WhatsappContact\Model\ResourceModel\Whatsappcontact\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magepow_whatsapp</argument>
            <argument name="resourceModel" xsi:type="string">Magepow\WhatsappContact\Model\ResourceModel\Whatsappcontact</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="whatsappconatct_list_data_source" xsi:type="string">Magepow\WhatsappContact\Model\ResourceModel\Whatsappcontact\Collection</item>
            </argument>
        </arguments>
    </type>
</config> 