<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <update id="magepow" module="Magepow_WhatsappContact" resource="Magento_Backend::content" sortOrder="10" title="Magepow"/>
        <add id="Magepow_WhatsappContact::whatsappcontact_grid" module="Magepow_WhatsappContact" parent="magepow" resource="Magepow_WhatsappContact::whatsappcontact_grid" action="whatsappcontact/contactperson/index" sortOrder="9999" title="Manage WhatsApp Chat"/>
        <add id="Magepow_WhatsappContact::whatsappcontact_config" module="Magepow_WhatsappContact" parent="magepow" resource="Magepow_WhatsappContact::whatsappcontact_config" action="adminhtml/system_config/edit/section/Magepow_WhatsappContact" sortOrder="9999" title="Configuration"/>
    </menu>
</config>